<h1>[photogur]</h1>
<h2>edit</h2>

<p>
	<%= link_to "back to [photos]", @picture %>
</p>

<%= form_for @picture do |f| %>
	<p>
		<%= f.label "artist" %>
		<br>
		<%= f.text_field "artist" %>
	</p>

	<p>
		<%= f.label "title" %> 
		<br>
		<%= f.text_field "title" %>
	</p>

	<p>
		<%= f.label "url" %>
		<br>
		<%= f.text_field "url" %>
	</p>

	<p>
		<%= submit_tag "Save" %>
	</p>
<% end %>

