<h1>[photogur]</h1>
<h3> total: <%= @pictures.length %></h3>
<%= link_to "upload", "/pictures/new" %>



<% @pictures.each do |picture| %>
	<p><%= picture[:title] %>, <%= picture[:artist] %> </p>
	<%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
<% end %>

