<h1>[photogur]</h1>
<h2>upload</h2>
<%= link_to "back to [photos]", pictures_url %>


<%= form_for @picture do |f| %>

<p>

	<%= f.label "artist" %> 
	<br>
	<%= f.text_field "artist", :class => 'textfield'  %>
</p>

<p>
	<%= f.label "title" %>
	<br>
	<%= f.text_field "title", :class => 'textfield' %>
</p>

<p>
	<%= f.label "url" %>
	<br>
	<%= f.text_field "url", :class => 'textfield'  %>
</p>

<p>
	<%= submit_tag "save" %>
</p>

<% end %>
<footer>
<p>[photogur], created by morris web dev inc., 2013</p>
</footer>



